
.sidebar {

    float: right;
display: block;
width: 270px;
padding: 98px 150px 0 0;
}

.personal-info__title {
    font-size: 21px;
    color: #626262;
    font-family: "Arial";
}

.right__text {
    font-size: 11px;
    line-height: 20px;
    color: #626262;
    font-family: "Arial";
}

.topposts {
    font-size: 14px;
    color: #626262;
    font-family: "Arial";
}

.posts_comm {
    font-size: 12px;
    color: #b4ad9e;
    font-family: "Arial";
}

