<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Workshop3</title>
    <link rel="stylesheet" href="../styles/layout.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">
</head>

<body>
    <article class="article">
        <header class="header">
            <h2 class="header__title">discography</h2>
            <p class="header__text"> September 4 world heard Night Visions, the first full album. He reached the 2
                position
                in the
                chart Billboard 200. The single «It's Time» took 22 th place in the Billboard Hot 100, 4th in the
                Billboard
                Alternative and Billboard Rock, and now went platinum.</p>
        </header>

        <section class="album">
            <div class="album__info">
                <h3 class="album__date"> 2010</h3>
                <h3 class="album__title"> Hell and Silence</h3>
            </div>

            <div class="album__description">
                <h2 class="album__theme"> Hell and Silence is an EP by Las Vegas rock group</h2>
                <p class="album__text"> Hell and Silence is an EP by Las Vegas rock group , released in March
                    2010
                    in the United States. It was recorded at Battle Born Studios. All songs were written by Imagine
                    Dragons
                    and self-produced. The EP was in part mixed by Grammy nominated engineer Mark Needham.
                    To promote the album the band performed five shows at SXSW 2010 including at the BMI Official
                    Showcase.While at SXSW they were endorsed by Blue Microphones. They also toured the western United
                    States with Nico Vega and Saint Motel. They also performed at Bite of Las Vegas Festival 2010, New
                    Noise Music Festival, Neon Reverb Festival, and Fork Fest.</p>
                <div class="album__button">
                    <a class="button" href="#">Play</a>
                </div>
            </div>
        </section>
        <section class="album">
            <div class="album__info">
                <h3 class="album__date"> 2012</h3>
                <h3 class="album__title"> Night Visions </h3>
            </div>
            <div class="album__description">
                <h2 class="album__theme"> Night Visions is the debut studio album by American rock band</h2>
                <p class="album__text">It was released on September 4, 2012 through Interscope Records. The
                    extended track was released on February 12, 2013, adding three more songs. Recorded between 2010
                    and
                    2012, the album was primarily produced by the band themselves, as well as English hip-hop producer
                    Alex
                    da Kid and Brandon Darner from the American indie rock group The Envy Corps. It was mastered by Joe
                    LaPorta. According to frontman Dan Reynolds, the album took three years to finish ...
                </p>
                <div class="album__button">
                    <a class="button" href="#">Play</a>
                </div>
            </div>
        </section>
        <section class="album">
            <div class="album__info">
                <h3 class="album__date"> 2015</h3>
                <h3 class="album__title"> Smoke + Mirrors</h3>
            </div>
            <div class="album__description">
                <h2 class="album__theme">The album was recorded during 2014
                    at the band's home studio in Las Vegas, Nevada </h2>
                <p class="album__text"> Self-produced by members of the band along with English hip-hop
                    producer
                    Alexander Grant, known by his moniker Alex da Kid, the album was released by Interscope Records and
                    Grant's KIDinaKORNER label on February 17, 2015, in the United States.</p>
                <div class="album__button">
                    <a class="button" href="#">Play</a>
                </div>
            </div>
        </section>
    </article>
    <footer class="footer">

    </footer>
</body>

</html>