<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>workshop2</title>
    <link rel="stylesheet" href="../styles/skills.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>

    <div class="title">
        <h1 class="title__text">Skills</h1>
    </div>
    <div class="main">
        <ul class="list">
            <li class="list__item">
                <p class="list__link"> Communication</p>
                <div class="border 
                rectangle1"> </div>
            </li>
            <li class="list__item">
                <p class="list__link"> Creativity</p>
                <div class="border 
                rectangle2"> </div>
            </li>
            <li class="list__item">
                <p class="list__link"> Teamwork</p>
                <div class="border rectangle3"> </div>
            </li>
            <li class="list__item">
                <p class="list__link"> Organization</p>
                <div class="border rectangle4"> </div>
            </li>
            <li class="list__item">
                <p class="list__link"> Leadeership</p>
                <div class="border rectangle5"> </div>
            </li>
            <li class="list__item">
                <p class="list__link"> Teamplayer</p>
                <div class="border rectangle6"> </div>
            </li>
        </ul>
    </div>
</body>

</html>