   <header class="header">
                <ul class="header__section section">
                        <li class="sections">
                                <h1 class="header__mimimo"> minimø </h1>
                        </li>
                        <li class="sections">
                                <p class="section__lifestyle"> LIFESTYLE</p>
                        </li>
                        <li class="sections">
                                <p class="section__photodiary"> PHOTODIARY</p>
                        </li>
                        <li class="sections">
                                <p class="section__music"> MUSIC</p>
                        </li>
                        <li class="sections">
                                <p class="section__travel"> TRAVEL</p>
                        </li>
                </ul>
                <img class="main__image" src="../images/image1.png" />
        </header>
