  <div class="sidebar">
                        <img class="main__image3" width="284px" src="../images/image3.png" />
                        <div class="personal-info">
                                <h3 class="personal-info__title">About me</h3>
                                <div class="personal-info__content">
                                        <p class="right__text">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                </div>
                                <p class="section__top"> TOP POSTS</p>
                                <ul class="top__posts posts">
                                        <li class="topposts">
                                                <p class="posts_one">
                                                        A day exploring the Alps
                                                </p>
                                                <p class="posts_comm">
                                                        24 comments
                                                </p>
                                        </li>
                                        <li class="topposts">
                                                <p class="posts_two">
                                                        American dream
                                                </p>
                                                <p class="posts_comm">
                                                        19 comments
                                                </p>
                                        </li>
                                        <li class="topposts">
                                                <p class="posts_three">
                                                        Cold winter days
                                                </p>
                                                <p class="posts_comm">
                                                        15 comments
                                                </p>
                                        </li>
                                </ul>
                        </div>
                </div>
