     <footer class="footer">
                <ul class="footer__section">
                        <li class="foot_sec">
                                <p class="footer__terms"> Terms and conditions</p>
                        </li>
                        <li class="foot_sec">
                                <p class="footer__travel"> Privacy</p>
                        </li>
                </ul>
        </footer>
